	<nav class="navbar">
		<div class="navbar-left">
			<button class="menu-toggle" onclick="toggleSidebar()">☰</button>
			<div class="navbar-logo">
				<span class="navbar-logo-icon">🐺</span>
				<span>Dashboard</span>
			</div>
		</div>
		<div class="navbar-right">
			<div class="navbar-search">
				<input type="text" placeholder="Search videos, comments...">
				<!-- <img src="/static/icons/search.svg" class="icon-sm" alt="icon"> -->
			</div>
		</div>
	</nav>
