<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>404 - Page Not Found</title>
	<link rel="stylesheet" href="{{ url_for('static', path='style-error.css') }}">
</head>

<body>
	{% include "components/error.j2" %}
	{% include "components/footer.j2" %}
</body>

</html>
