
	<!-- Navigation -->
	<nav>
		<div class="nav-container">
			<div class="logo">
				<span class="logo-icon">🐺</span>
				<span class="code-line"><span class="string">liteWolf</span> </span>
			</div>
			<ul class="nav-links">
				<li><a href="#features">Features</a></li>
				<li><a href="#quickstart">Quick Start</a></li>
				<li><a href="#docs">Docs</a></li>
				<li><a href="/auth" target="_blank">
						<div class="github-stars">
							<strong>Login</strong>
							<img src="/static/icons/login.svg" class="icon-sm" alt="icon">
						</div>
					</a></li>
			</ul>
		</div>
	</nav>
